---
name: "Build"

on:
  push:
    branches:
      - main
      - develop
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  release:
    types:
      - released
  pull_request:
    paths-ignore:
      - 'deployment/helm/**'
    branches:
      - '*'

jobs:
  secret-presence:
    runs-on: ubuntu-latest
    outputs:
      GHCR_PAT: ${{ steps.secret-presence.outputs.GHCR_PAT }}
    steps:
      -
        name: Check whether secrets exist
        id: secret-presence
        run: |
          [ ! -z "${{ secrets.GHCR_PAT }}" ] && echo "::set-output name=GHCR_PAT::true"
          exit 0

  build:
    runs-on: ubuntu-latest
    needs: [ secret-presence ]
    steps:
      # Set-Up
      -
        name: Checkout
        uses: actions/checkout@v4.1.0
      -
        name: Login to ghcr.io
        if: |
          needs.secret-presence.outputs.GHCR_PAT && github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      -
        name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      # Build
      -
        name: Build
        run: |-
          npm i && npm ci
      -
        name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{raw}}
            type=match,pattern=\d.\d.\d
            type=sha
      -
        name: Build Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: |
            ${{ (needs.secret-presence.outputs.GHCR_PAT && github.event_name != 'pull_request' && 'true') || 'false' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
